<!DOCTYPE html> <!-- HTML5 -->
<html>
	<head>
		<title>Formulari i njoftimit</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
		<!--<meta http-equiv="refresh" content="3" />-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	</head>
	<body>
		<header>
			<h1>Formular i njoftimit</h1>
			<p>Autoriteti do te procedoj me shqyrtimin e Fromularit te Njoftimit vetem pas kompletimit te Dosjes dhe do ta njoftoj nderrmaresin per vendosjen ne regjistrin e njftimit brenda 5(pese) diteve te punes nga data e kompletimit te njoftimit.</p>
		</header>

		<div id="butonat" class="clearfix">
			<button class="butoni1">&lt;</button>
			<button class="butoni2">&gt;</button>
		</div>

		<div id="Pytja1">
			<p class="Titulli">1. Qellimi i njoftimit:</p>
			<div class="borderi">
				<div class="pytjet">
					<span class="full_input"><input type="checkbox" name="" /> Fillimi i Sherbimit</span>
					<span class="full_input"><input type="checkbox" name="" /> Shtim Sherbimi</span>
					<span class="full_input"><input type="checkbox" name="" /> Heqje Sherbimi</span>
				</div>
			</div>
		</div>

		<div id="Pytja2">
			<p class="Titulli">2. Te dhenat per ndermarresin: </p>
			<table>
				<tr>
					<td>1.1</td>
					<td>Emri i Ndermarresit( Entiteti )</td>
					<td> <input type="text" name=""> </td>
				</tr>
				<tr>
					<td>1.2</td>
					<td>Numri i regjistrimit te biznesit</td>
					<td> <input type="text" name=""> </td>
				</tr>
				<tr>
					<td>1.3</td>
					<td>Numri Fiskal</td>
					<td> <input type="text" name=""> </td>
				</tr>
				<tr>
					<td>1.4</td>
					<td>Adressa</td>
					<td> <input type="text" name=""> </td>
				</tr>
				<tr>
					<td>1.5</td>
					<td>Numri i telefonit</td>
					<td> <input type="text" name=""> </td>
				</tr>
				<tr>
					<td>1.6</td>
					<td>Numri i faksit</td>
					<td> <input type="text" name=""> </td>
				</tr>
				<tr>
					<td>1.7</td>
					<td>E-mail Adressa</td>
					<td> <input type="text" name=""> </td>
				</tr>
			</table>
		</div>
			
		<div id="Pytja3">
			<p class="Titulli">3. Te dhenat per zyrtarin ligjerisht te pergjegjshem: </p>
			<table>
				<tr>
					<td>2.1</td>
					<td>Emri i Zyrtarit</td>
					<td> <input type="text" name=""> </td>
				</tr>
				<tr>
					<td>2.2</td>
					<td>Adressa</td>
					<td> <input type="text" name=""> </td>
				</tr>
				<tr>
					<td>2.3</td>
					<td>Numri i telefonit</td>
					<td> <input type="text" name=""> </td>
				</tr>
				<tr>
					<td>2.4</td>
					<td>Numri i faksit</td>
					<td> <input type="text" name=""> </td>
				</tr>
				<tr>
					<td>2.5</td>
					<td>Emal Adressa</td>
					<td> <input type="text" name=""> </td>
				</tr>
				<tr>
					<td>2.6</td>
					<td>Numri i ID</td>
					<td> <input type="text" name=""> </td>
				</tr>
				<tr>
					<td>1.7</td>
					<td>E-mail Adressa</td>
					<td> <input type="text" name=""> </td>
				</tr>
			</table>
		</div>

		<div id="Pytja4">
			<p class="Titulli">4. Aktivitetet te cilat njoftohen/regjistrohen: </p>
			<div class="clearfix Div1_2">
				<div id="Div1">
					<p>1. Ofrimi i rrjetit publik fiks</p>
				</div>
				<div id="Div2">
					<span class="full_input"><input type="checkbox" name="">Lokal</span>
					<span class="full_input"><input type="checkbox" name="">Nacional</span>
					<span class="full_input"><input type="checkbox" name="">Tjera(specifikoj)</span>
				</div>
			</div>

			<div class="clearfix Div1_2">
				<div id="Div1">
					<p>2. Ofrimi i sherbimeve publike fikse</p>
				</div>
				<div id="Div2">
					<span class="full_input"><input type="checkbox" name="">Sherbimet telefonike lokale/nacionale</span>
					<span class="full_input"><input type="checkbox" name="">Sherbimet telefonike nderkombatre</span>
					<span class="full_input"><input type="checkbox" name="">Telefona publik me pages</span>
					<span class="full_input"><input type="checkbox" name="">Sherbime tjera(specifikoj)</span>
				</div>
			</div>

			<div class="clearfix Div1_2">
				<div id="Div1">
					<p>3. Ofrimi i rrjetit publik mobil</p>
				</div>
				<div id="Div2">
					<span class="full_input"><input type="checkbox" name="">Lokale</span>
					<span class="full_input"><input type="checkbox" name="">Nacional</span>
				</div>
			</div>

			<div class="clearfix Div1_2">
				<div id="Div1">
					<p>4. Ofrimi i sherbimeve publike mobile</p>
				</div>
				<div id="Div2">
					<span class="full_input"><input type="checkbox" name="">Sherbime telefonike te zerit</span>
					<span class="full_input"><input type="checkbox" name="">Transmetim te dhenash</span>
				</div>
			</div>

			<div class="clearfix Div1_2">
				<div id="Div1">
					<p>5. Ofrimi i sherbimeve te linjave me qira</p>
				</div>
				<div id="Div2">
					<span class="full_input"><input type="checkbox" name="">Fiber tjera me qira</span>
					<span class="full_input"><input type="checkbox" name="">Linja tjera me qira</span>
				</div>
			</div>

			<div class="clearfix Div1_2">
				<div id="Div1">
					<p>6. Ofrimi i rrjetave publike me transmetim satelitor</p>
				</div>
				<div id="Div2">
					<span class="full_input"><input type="checkbox" name="">Ofrimi i rrjetave publike me transmetim satelitor</span>
				</div>
			</div>

			<div class="clearfix Div1_2">
				<div id="Div1">
					<p>7. Ofrimi i sherbimeve publike satelitore</p>
				</div>
				<div id="Div2">
					<span class="full_input"><input type="checkbox" name="">Ofrimi i sherbimeve publike satelitore</span>
				</div>
			</div>

			<div class="clearfix Div1_2">
				<div id="Div1">
					<p>8. Ofrimi i sherbimeve te transmetimit te te dhenave (interneti)</p>
				</div>
				<div id="Div2">
					<span class="full_input"><input type="checkbox" name="">Ofrimi i sherbimeve te transmetimit te te dhenave (interneti)</span>
				</div>
			</div>

			<div class="clearfix Div1_2">
				<div id="Div1">
					<p>9. Ofrimi i sherbimeve me vlere te shtuar</p>
				</div>
				<div id="Div2">
					<span class="full_input"><input type="checkbox" name="">Ofrimi i sherbimeve me vlere te shtuar</span>
				</div>
			</div>
		</div>

		<div id="Pytja5">
			<p class="Titulli">Pershkrimi i aktivitetit dhe faza e ofrimit:</p>
			<div id="Pytja5_f_div" class="clearfix">
				<div>
					<p class="Titulli">Pershkrimi i rrjetit dhe/ose sherbimit qe do te ofrohet:</p>
					<p>Te jepen pershkrime te detajuara per secilin aktivitet te njoftuar duke specifikuar:</p>
					<ul>
						<li>A do te perdoret rrjeti vetanak apo ndonje rrjet tjeter,</li>
						<li>Teknologjia e cila do te perdoret,</li>
						<li>Radio frekuencat, te cilat planifikohen te perdoren,</li>
						<li>Lista e shebimeve qe planifikohen te ofrohen,</li>
						<li>Etj.</li>
					</ul>
					<p>Mund te perdoret ndonje shtojce i veqante ne rast se hapsira nuk eshte e mjaftueshme</p>
				</div>
				<div>
					<textarea style="resize: none;" maxlength="680" cols="40" rows="17" placeholder="Max 680 chars..."></textarea>
				</div>
			</div>
			<div id="Pytja5_s_div" class="clearfix">
				<div>
					<p class="Titulli">Faza e Ofrimit</p>
					<p>(Te specifikohet koha e parashikuar per fillimin e aktivitetit te komunikimeve elektronike)</p>
				</div>
				<div>
					<textarea style="resize: none;" maxlength="200" cols="40" rows="5" placeholder="Max 200 chars..."></textarea>
				</div>
			</div>
		</div>

		<div id="Pytja6">
			<p class="Titulli">Dokumentet e bashkangjitura:</p>
			<div id="Pytja6_f" class="clearfix">
				<div>
					<p class="Titulli">Dokumentet e bashkangjituar si shtojce aplikacionit te Njoftimit</p>
				</div>
				<div>
					<ol>
						<li>Kopje e certifikates se regjistrimit te biznesit</li>
						<li>Kopje e certifikates se numrit fiskal</li>
						<li>Kopje e certifikates Informate mbi biznes</li>
					</ol>
				</div>
			</div>
		</div>

		<div id="Pytja7">
			<p class="Titulli">Konfirmimi i njoftimit:</p>
			<div>
				<p style="display: block;" class="Titulli">Ndermarrja kerkon qe ti leshohet certifikata e konfirmimit te njoftimit per ofrimin e rrjetave dhe/ose sherbimeve publike te komunikimeve elektronike te njoftuara permes ketij formulari:</p>
			</div>
			<div>
				<span><input type="checkbox" name=""> Po</span>
				<span><input type="checkbox" name=""> Jo</span>
			</div>
		</div>

		<div id="Pytja8">
			<p class="Titulli">Detyrimet ligjore</p>
			<div>
				<span><input type="checkbox" name="">Unë nëpërmjet këtij dokumenti deklaroj se do të ushtroj aktivitet në fushën e komunikimeve elektronike të shënuara më sipër dhe aplikoj për regjistrim në regjistrin e ofrueseve të rrjeteve dhe shërbimeve të komunikimeve elektronike të Autoritetit (ARKEP).</span>
				<span><input type="checkbox" name="">Unë nëpërmjet këtij dokumenti deklaroj se kam mbyllur aktivitetet e komunikimeve elektronike të shënuara më sipër.</span>
				<span><input type="checkbox" name="">Unë nëpërmjet këtij dokumenti deklaroj se kam mbyllur çdo aktivitet të komunikimeve elektronike nën regjimin e Autorizimit të përgjithshëm.</span>
				<span><input type="checkbox" name="">Unë nëpërmjet këtij dokumenti deklaroj se të dhënat e mia kanë pësuar ndryshime, sikurse përshkruhen në formular.</span>
				<span><input type="checkbox" name="">Unë nëpërmjet këtij dokumenti deklaroj se kam ndryshuar formën ligjore të ndërmarrjes sime siç përshkruhet në formular. Emri i vjetër është si më poshtë</span>
			</div>
		</div>

		<div id="blank_div"></div>

		<script type="text/javascript">
			var vendi = 1;
			var max = 8;
			var str;
			for( var i = 1; i <= max; i++) {
				$("#Pytja" + i).hide();
			}
			$("#Pytja"+vendi).show();
			$( ".butoni1" ).click(function() {
				if( vendi == 1 ) {
					alert("Nuk mund te kalohet mbrapa!");
				} else {
					vendi--;
					str = "#Pytja" + (vendi+1);
					$(str).hide();
					str = "#Pytja" + vendi;
					$(str).show();
				}
			})
			
			$( ".butoni2" ).click(function() {
				if( vendi <= max-1 ) {
					vendi++;
					str = "#Pytja" + (vendi-1);
					$(str).hide();
					str = "#Pytja" + vendi;
					$(str).show();
				} else {
					alert("Nuk vazhdon me tutje");
				}
			})
			//$(element).is(":visible"); 
		</script>
	</body>
</html>